body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", cursive;
  font-weight: 50;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Abril Fatface", cursive;
  font-weight: 50;
}

a {
  color: inherit;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  
  color: rgba(255, 255, 255, 0.858);
  width: 80%;
  margin: auto;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  font-size: 21px;
}

#fc1 {
  flex-grow: 1;
  align-self: center;
}

#fc2 {
  flex-grow: 3;
  align-self: center;
}

#fc3 {
  flex-grow: 1;
  align-self: center;
  padding: 21px;
  margin-right: 40px;
}

.bar,
h1,
button {
  font-family: "Abril Fatface", cursive;
  font-weight: 50;
}

.background-img {
  background: url("./img/oktoberfest2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-img2 {
  background: url("./img/oktoberfest-bgh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.margin {
  margin: 16px;
}

.top,
.bottom {
  top: 0;
  width: 100%;
  z-index: 1;
}

.opacity {
  opacity: 0.6;
}

.opacity-off {
  opacity: 1;
}

/* Farben */

.black,
.hover-black:hover {
  color: #fff;
  background-color: #000;
}

.text-grey {
  color: #757575;
}

.text-white {
  color: white;
}

.white,
.hover-white:hover {
  color: #000;
  background-color: #fff;
}

.blue {
  background-color: #42271c;
  color: white;
}

/* Nav Bar */

.bar {
  width: 100%;
  overflow: hidden;
}

.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.bar .button {
  white-space: normal;
}

.button:hover {
  color: #000;
  background-color: #ccc;
}

.btn,
.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

/* Paddings */

.padding-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.padding-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.padding-large {
  padding: 12px 24px;
}

.padding-text {
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 20px;
  /* color: #fff; */
}

.padding-top {
  padding-top: 10px;
}

/* Größen */

.large {
  font-size: 18px;
}

.xlarge {
  font-size: 24px;
}

.jumbo {
  font-size: 64px;
}

/* Anordnung */

.right {
  float: right;
}

.left {
  float: left;
}

.content,
.auto {
  margin-left: auto;
  margin-right: auto;
}

.content {
  max-width: 960px;
}

.center {
  text-align: center;
}

.container,
.panel {
  padding: 0.01em 16px;
}

#blackRow {
  margin: 0;
  padding: 0;
  height: 80px;
  background-color: white;
}

.image {
  transition: transform 0.7s;
}

.image:hover {
  transform: rotate(60deg);
}

.roadmap {
  width: 250px;
  color: white;
  padding-bottom: 5px;
}

.grid {
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-flow: column;
  padding-left: 200px;
}

.pink {
  background-color: darkmagenta;
}

.orange {
  background-color: orangered;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}
